/* static/css/base.css */
/*body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding-left: 10%;
  padding-right: 10%;
}*/

.menu {
    display: flex;
    justify-content: space-between;
}


@font-face {
        font-family: "CenturyGothicRegular";
        src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
        src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
        url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
}


body {
    /*font-family: Bitum,sans-serif!important;*/
	/*font-family: 'Source Sans Pro', sans-serif;*/
    position: relative;
    font-size: 18px;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "CenturyGothicRegular";
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.content {
  position: relative;
  /*height: 2000px;*/
  /*background: #eee;*/
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 2vw;
 }

#grid > div {
  /*font-size: 5vw;*/
  overflow:hidden;
  /*padding: .5em;*/
  /*background: gold;*/
  text-align: center;
}

.header {
	/*display: flex;
	justify-content: space-between;*/
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    height: 106px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: grid;
    grid-template-areas: "logo about inst";
    grid-template-columns: 65% 20% 15%;
    grid-gap: 0px;
}

.scrolled .header {
  background: rgba(255, 255, 255, 0.5);
  height: 60px;
}
