/* static/css/base.css */
/*body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding-left: 10%;
  padding-right: 10%;
}*/

.menu {
    display: flex;
    justify-content: space-between;
}


@font-face {
        font-family: "CenturyGothicRegular";
        src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
        src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
        url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
}


body {
    /*font-family: Bitum,sans-serif!important;*/
	/*font-family: 'Source Sans Pro', sans-serif;*/
    position: relative;
    font-size: 18px;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "CenturyGothicRegular";
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.content {
  position: relative;
  /*height: 2000px;*/
  /*background: #eee;*/
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 2vw;
 }

#grid > div {
  /*font-size: 5vw;*/
  overflow:hidden;
  /*padding: .5em;*/
  /*background: gold;*/
  text-align: center;
}

.header {
	/*display: flex;
	justify-content: space-between;*/
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    height: 106px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.scrolled .header {
  background: rgba(255, 255, 255, 0.5);
  height: 60px;
}


/*header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  display: flex;
}*/
 
/*header h1 a {
  color: red;
  text-decoration: none;
}
 
.nav-left {
  margin-right: auto;
}
 
.nav-right {
  display: flex;
  padding-top: 2rem;
}
 
.post-entry {
  margin-bottom: 2rem;
}
 
.post-entry h2 {
  margin: 0.5rem 0;
}
 
.post-entry h2 a,
.post-entry h2 a:visited {
  color: blue;
  text-decoration: none;
}
 
.post-entry p {
  margin: 0;
  font-weight: 400;
}
 
.post-entry h2 a:hover {
  color: red;
}*/