<!-- templates/about.html -->
{% extends 'base.html' %}

{% block content %}
{% load static %}

    <p><b>TeenTalksMagazine</b> —  инстернет-журнал для молодого поколения. Здесь ты узнаешь о психологии, стиле, искусстве , образовании , половом воспитании и о многих других темах, которые так волнуют молодежь. Мы не боимся показать нашу реальность, поговорить на запретные темы.</p>
    <p>Период перехода во взрослую жизнь заставляет задуматься над вопросами: Кто я? Как мне двигаться дальше? Что меня ждет впереди?</p>
    <p><b>TeenTalks</b> создан для того, чтобы ответить на эти вопросы и помочь молодому поколению узнать себя и то, что что к нему ближе всего, показать этому безумному миру, что каждый индивидуален, что любой человек на этой планете достоин счастливого будущего, ему открыты все возможности для реализации своей личности, и даже если ты потерялся в потоке тех успешных людей с обложки популярных журналов, у тебя есть шанс пробиться и заявить о себе.</p>

    <p><b>Твой TeenTalks!</b></p>

    <p><b>Team :</b></p>



    <div style="vertical-align: middle; display: inline-block;">
        <img src="{% static 'polya.jpg' %}" style="width: 100px;">
        <div style="vertical-align: middle; display: inline-block; height: 200px; border: solid; border-color: black;">
            <b>Полина Липатникова – основатель журнала, главный редактор , контент-мейкер</b>
        </div>
<!--        <div id="fix" style="width: 0px; display: inline-block; height: 100%; vertical-align: middle;"></div>-->
    </div>
    Елена Юровских – редактор<br>
    Мария Манохина – Иллюстратор<br>
    Екатерина Вишнякова – Фотограф<br>
    Видеомейкер – Милана Павлова<br>
    Авторы :<br>
    Надежда Левина,<br>
    Мария Поморцева,<br>
    Дарья Инкина,<br>
    Александр Гуськов,<br>
    Анастасия Алмазова,<br>
    Юлия Пиянзина,<br>
    Екатерина Муллагалиева</b></p>

{% endblock content %}