<!-- templates/about.html -->
{% extends 'base.html' %}

{% block content %}
{% load static %}

    <p><b>TeenTalksMagazine</b> —  инстернет-журнал для молодого поколения. Здесь ты узнаешь о психологии, стиле, искусстве , образовании , половом воспитании и о многих других темах, которые так волнуют молодежь. Мы не боимся показать нашу реальность, поговорить на запретные темы.</p>
    <p>Период перехода во взрослую жизнь заставляет задуматься над вопросами: Кто я? Как мне двигаться дальше? Что меня ждет впереди?</p>
    <p><b>TeenTalks</b> создан для того, чтобы ответить на эти вопросы и помочь молодому поколению узнать себя и то, что что к нему ближе всего, показать этому безумному миру, что каждый индивидуален, что любой человек на этой планете достоин счастливого будущего, ему открыты все возможности для реализации своей личности, и даже если ты потерялся в потоке тех успешных людей с обложки популярных журналов, у тебя есть шанс пробиться и заявить о себе.</p>

    <p><b>Твой TeenTalks!</b></p>

    <br>

    <p><b>Team :</b></p>
    <br>



    <div style="">
        <img src="{% static 'polya.jpg' %}" style="height: 200px;">
        <div style="display: inline-block; height: 200px; text-align: center; vertical-align: bottom; margin-left: 30px;">
            <b style="">Полина Липатникова – основатель журнала, главный редактор , контент-мейкер</b>
            <div style="width: 0px; display: inline-block; height: 100%; vertical-align: middle;"></div>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <img src="{% static '222.jpg' %}" style="height: 200px;">
        <div style="display: inline-block; height: 200px; text-align: center; vertical-align: bottom; margin-left: 30px;">
            <b style="">Елена Юровских – редактор</b>
            <div style="width: 0px; display: inline-block; height: 100%; vertical-align: middle;"></div>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <img src="{% static '333.jpg' %}" style="height: 200px;">
        <div style="display: inline-block; height: 200px; text-align: center; vertical-align: bottom; margin-left: 30px;">
            <b style="">Мария Манохина – Иллюстратор</b>
            <div style="width: 0px; display: inline-block; height: 100%; vertical-align: middle;"></div>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <img src="{% static '444.jpg' %}" style="height: 200px;">
        <div style="display: inline-block; height: 200px; text-align: center; vertical-align: bottom; margin-left: 30px;">
            <b style="">Екатерина Вишнякова – Фотограф</b>
            <div style="width: 0px; display: inline-block; height: 100%; vertical-align: middle;"></div>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <img src="{% static '555.jpg' %}" style="height: 200px;">
        <div style="display: inline-block; height: 200px; text-align: center; vertical-align: bottom; margin-left: 30px;">
            <b style="">Видеомейкер – Милана Павлова</b>
            <div style="width: 0px; display: inline-block; height: 100%; vertical-align: middle;"></div>
        </div>
    </div>

    <br>
    <br>
    <b>Авторы :</b>
    <br>

    <div style="margin-top: 20px;">
        <img src="{% static '666.jpg' %}" style="height: 200px;">
        <div style="display: inline-block; height: 200px; text-align: center; vertical-align: bottom; margin-left: 30px;">
            <b style="">Надежда Левина</b>
            <div style="width: 0px; display: inline-block; height: 100%; vertical-align: middle;"></div>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <img src="{% static '777.jpg' %}" style="height: 200px;">
        <div style="display: inline-block; height: 200px; text-align: center; vertical-align: bottom; margin-left: 30px;">
            <b style="">Мария Поморцева</b>
            <div style="width: 0px; display: inline-block; height: 100%; vertical-align: middle;"></div>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <img src="{% static '888.jpg' %}" style="height: 200px;">
        <div style="display: inline-block; height: 200px; text-align: center; vertical-align: bottom; margin-left: 30px;">
            <b style="">Дарья Инкина</b>
            <div style="width: 0px; display: inline-block; height: 100%; vertical-align: middle;"></div>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <img src="{% static '999.jpg' %}" style="height: 200px;">
        <div style="display: inline-block; height: 200px; text-align: center; vertical-align: bottom; margin-left: 30px;">
            <b style="">Александр Гуськов</b>
            <div style="width: 0px; display: inline-block; height: 100%; vertical-align: middle;"></div>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <img src="{% static '1010.jpg' %}" style="height: 200px;">
        <div style="display: inline-block; height: 200px; text-align: center; vertical-align: bottom; margin-left: 30px;">
            <b style="">Анастасия Алмазова</b>
            <div style="width: 0px; display: inline-block; height: 100%; vertical-align: middle;"></div>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <img src="{% static '1111.jpg' %}" style="height: 200px;">
        <div style="display: inline-block; height: 200px; text-align: center; vertical-align: bottom; margin-left: 30px;">
            <b style="">Юлия Пиянзина</b>
            <div style="width: 0px; display: inline-block; height: 100%; vertical-align: middle;"></div>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <img src="{% static '1212.jpg' %}" style="height: 200px;">
        <div style="display: inline-block; height: 200px; text-align: center; vertical-align: bottom; margin-left: 30px;">
            <b style="">Екатерина Муллагалиева</b>
            <div style="width: 0px; display: inline-block; height: 100%; vertical-align: middle;"></div>
        </div>
    </div>

{% endblock content %}