<!-- templates/base.html -->
{% load static %}
<html>
  <head>
    <title>Teen-talks</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <script
              src="https://code.jquery.com/jquery-3.5.1.js"
              integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
              crossorigin="anonymous">
    
    </script>
    <!-- <header>
      <h1><a href="{% url 'home' %}">Teen-talks</a></h1>
    </header> -->

    <div class="content">
        <div class="header">
            <div id="logo" style="display: inline-block; height: inherit;">
                <a href ="{% url 'home' %}" style="display: inline-block; height: inherit;">
                    <img src="{% static 'logo2.png' %}" style="object-fit: scale-down; object-position: left top; width: 100%; height: 100%;">  <!--  style="max-width: 100%; height: auto; max-height:100%;" -->
                </a>
            </div>
            <div id="about" style="display: inline-block; height: inherit; text-align: center; vertical-align: bottom;">
                <a href ="{% url 'about' %}" style="">О нас</a>
                <div id="fix" style="width: 0px; display: inline-block; height: 100%; vertical-align: middle;"></div>
            </div>
            <div id="inst" style="display: inline-block; height: inherit;">
                <a href = "https://instagram.com/teentalksmag?igshid=45k4bsm9qeg8" style="display: inline-block; height: inherit;">
                    <img src="{% static 'insta.png' %}" style="object-fit: scale-down; object-position: right top; width: 100%; height: 100%;">
                </a>
            </div>
        </div>



        <div class="some_nav" style="height: 80px">

        </div>
        <div style="margin-top: 106px">
          {% block content %}
          {% endblock content %}
        </div>

    </div>

    <div class="some_nav" style="height: 150px">
    </div>

    <div class="footer" style="border-top: solid; border-width: 1px; border-color: black; height: 80px; position: absolute; bottom: 0; left: 0; padding-left: 12%; vertical-align: middle; padding-top: 40px; width: 88%;">  <!-- -->
        <span><a href="{% url 'contacts' %}">Контакты</a></span>
    </div>

    </body>

    <script>
        var content = $('.content');
        $(window).on("scroll", function() {
          content[$(this).scrollTop() > 50 ? 'addClass' : 'removeClass']('scrolled');
        });
    </script>
</html>