<!-- templates/base.html -->
{% load static %}
<html>
  <head>
    <title>Teen-talks</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <script
              src="https://code.jquery.com/jquery-3.5.1.js"
              integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
              crossorigin="anonymous">
    
    </script>
    <!-- <header>
      <h1><a href="{% url 'home' %}">Teen-talks</a></h1>
    </header> -->

    <div class="content">
        <div class="header">
            <img src="{% static 'new_logo.png' %}" style="max-width: 100%; height: auto; max-height:100%;">

        </div>



        <div class="some_nav" style="height: 80px">

        </div>
        <div style="margin-top: 106px">
          {% block content %}
          {% endblock content %}
        </div>
    </div>

    </body>
    <script>
        var content = $('.content');
        $(window).on("scroll", function() {
          content[$(this).scrollTop() > 50 ? 'addClass' : 'removeClass']('scrolled');
        });
    </script>
</html>