<!-- templates/home.html -->
{% extends 'base.html' %}
 
{% block content %}
  <div id="grid">
  {% for post in page_obj %}
    <div class="post-entry">
      <a href="{% url 'post_detail' post.pk %}"><img src="{{ post.preview.url }}" class="img-responsive" style="max-width: auto; max-height: 300px;"></a>  <!--max-height: 300px;-->
      <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
      <p>{{ post.body }}</p>
    </div>
  {% endfor %}
  </div>

<br>
<br>
<hr>
<br>
<br>

<div class="pagination" style="margin-left: auto; margin-right: auto; text-align: center;">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>

<br>
<br>
<br>

{% endblock content %}